<template>
  <div>
    <md-chips v-model="items" md-placeholder="Add item to a task..." @md-delete="removeItem" @md-insert="addItem">
      <template slot="md-chip" slot-scope="{ chip }">{{ chip }}</template>

      <div class="md-helper-text">Press enter after finishing</div>
    </md-chips>
  </div>
</template>

<script>
import axios from "@/services";
export default {
  name: "ChipCustomTemplate",
  props: ["taskId", "tasksItems"],
  data: () => ({
    currentProject: "Vue Material",
    items: [],
    itemsDb: []
  }),
  methods: {
    removeItem(text) {
      const [item] = this.itemsDb.filter(item=>item.name === text)
      if(item.id){
        axios.delete(`tasks-items/remove/${item.id}`)
        .then()
      }
    },
    addItem(text) {
      axios
        .post(`tasks-items/new/${this.taskId}`, { data: { name: text } })
        .then(({data})=>{
          this.itemsDb.push({id: data.task_item.id, name: text})
        });
    }
  },
  watch:{
    tasksItems(value){
      const items = this.tasksItems.map(item=>item.name)
      this.items = items
      this.itemsDb = value.map(v=>v)
    }
  }
};
</script>

<style lang="scss" scoped>
small {
  font-weight: 500;
}
</style>