<template>
  <div>
    <md-dialog :md-active.sync="show">
      <md-dialog-title>New Task
        <div
          style="padding: 15px; color: red; position:absolute; width:100%; top:0; text-align:center"
        >{{taskName.toUpperCase()}}</div>
      </md-dialog-title>

      <md-dialog-content>
        <md-field>
          <label>Task Name</label>
          <md-input v-model="taskName" :disabled="disabledTaskName" @keydown.enter="(editableMode)?updateTask():saveTask()"></md-input>
          <md-button
            :class="{'md-mini': true, 'md-raised':!disabledTaskName, 'md-dense': true, 'md-primary': true}"
            @click="saveTask"
            :disabled="disabledTaskName"
            v-if="!editableMode"
          >save</md-button>
          <md-button
            :class="{'md-mini': true, 'md-raised':!disabledTaskName, 'md-dense': true, 'md-primary': true}"
            @click="updateTask"
            v-if="editableMode"
          >save</md-button>
        </md-field>

        <add-task-items v-show="disabledTaskName || editableMode" :taskId="taskId" :tasksItems="tasksItems"></add-task-items>
      </md-dialog-content>

      <md-dialog-actions>
        <md-button class="md-primary" @click="show = false">Close</md-button>
      </md-dialog-actions>
    </md-dialog>
  </div>
</template>

<script>
import axios from "@/services";
import AddTaskItems from "./AddTaskItems";
export default {
  name: "DialogCustom",
  props: ['task_id'],
  components: { AddTaskItems },
  data: () => ({
    show: false,
    taskName: "",
    taskId: 0,
    disabledTaskName: false,
    editableMode: false,
    tasksItems: []
  }),
  methods: {
    updateTask(){
      axios.put(`/tasks/update/${this.task_id}/${this.taskName}`)
      .then(()=>{
        this.$emit('update', {name: this.taskName, id: this.task_id})
      })
    },
    saveTask() {
      if (!this.taskName) return;
      axios
        .post("/tasks/new", { task: { name: this.taskName } })
        .then(({ data }) => {
          data.task.created_at = new Date()
          this.$emit("addTask", data.task);
          this.taskId = data.task.id
          this.disabledTaskName = true;
        });
    }
  },
  mounted() {
    if(this.task_id){
      
      axios.get(`/tasks/${this.task_id}`)
      .then(({data})=>{
        this.taskId = data.data.id
        this.taskName = data.data.name
        this.tasksItems = data.data.items
        this.editableMode = true
      })
    }
    this.show = true;
  },
  watch: {
    show(value) {
      if (!value) return this.$emit("closeAddTask");
    }
  }
};
</script>

<style lang="scss" scoped>
.md-dialog {
  width: 80%;
}
</style>