<template>
  <div>
    <md-table
      v-model="data"
      :md-sort.sync="currentSort"
      :md-sort-order.sync="currentSortOrder"
      :md-sort-fn="customSort"
      md-card
    >
      <md-table-toolbar>
        <h1 class="md-title">{{title}}</h1>
        <div><md-field>
          <label>Search task...</label>
          <md-input v-model="searchTask"></md-input>
        </md-field></div>
        
        <span>
          <md-button class="md-icon-button md-raised" @click="$emit('newTask')" title="Add">
            <span>+</span>
          </md-button>
        </span>
      </md-table-toolbar>
      <md-table-row slot="md-table-row" slot-scope="{ item }" style="cursor:pointer">
        <md-table-cell md-label="ID" md-numeric>{{ item.id }}</md-table-cell>
        <md-table-cell md-label="Name" md-sort-by="name">{{ item.name }}</md-table-cell>
        <md-table-cell md-label="Date" md-sort-by="created_at">{{ item.created_at }}</md-table-cell>
        <md-table-cell md-label="Actions">
          <md-button class="md-icon-button md-dense md-primary" @click="$emit('remove', item)">
            <i class="far fa-trash-alt" style="color:red"></i>
          </md-button>
          <md-button class="md-icon-button md-dense md-primary" @click="$emit('edit', item)">
            <i class="far fa-edit"></i>
          </md-button>
        </md-table-cell>
      </md-table-row>
    </md-table>
    <div class="pagination" v-if="pages>=2">
      <paginate
        :currentpage="1"
        :pages="pages"
        @changePage="changePage"
        vspbutton="md-button md-fab md-mini"
        vspbuttonfast="vspButtonFast"
      ></paginate>
    </div>
  </div>
</template>

<script>
export default {
  name: "DataTable",
  props: {
    title: {
      type: String,
      default: ""
    },
    data: {
      type: Array,
      default() {
        return [];
      }
    },
    pages: {
      type: Number,
      default: 1
    }
  },
  data: () => ({
    currentSort: "name",
    currentSortOrder: "asc",
    selected: "",
    searchTask: ''
  }),
  methods: {
    customSort(value) {
      return value.sort((a, b) => {
        const sortBy = this.currentSort;

        if (this.currentSortOrder === "desc") {
          return a[sortBy].localeCompare(b[sortBy]);
        }

        return b[sortBy].localeCompare(a[sortBy]);
      });
    },
    changePage(page) {
      this.$emit("page", page);
    }
  },
  watch: {
    searchTask(value){
      this.$emit('searchTask', value)
    }
  },
};
</script>

<style >
.pagination {
  padding: 10px;
  text-align: center;
}

.vspButton-selected {
  background-color: blue !important;
  color: #fff !important;
}
.md-raised {
  background-color: blue !important;
  color: #fff !important;
}
.md-raised span {
  font-size: 20pt;
}
</style>
