<template>
  <div class="container">
    <add-task v-if="showAddTask" @closeAddTask="closeAddTask" @addTask="addTask"></add-task>
    <add-task :task_id="taskId" @closeAddTask="closeAddTask" v-if="editable" @update="updateTask"></add-task>
    <data-table
      :title="'Tasks'"
      :data="tasks"
      @newTask="newTask"
      :pages="pages"
      @edit="edit"
      @page="getPage"
      @remove="remove"
      @searchTask="search"
    ></data-table>
  </div>
</template>

<script>
import DataTable from "./DataTable";
import AddTask from "./AddTask";
import axios from "@/services";
import findBySimilarity from '@/find-by-similarity'
export default {
  name: "tasks",
  data: () => ({
    tasks: [],
    pages: 0,
    showAddTask: false,
    editable: false,
    taskId: 0,
    taskSearched: [],
    originalTasks: []
  }),
  components: { DataTable, AddTask },
  methods: {
    search(value){
      if(!value)return this.tasks = this.originalTasks
      this.tasks = findBySimilarity(this.originalTasks, value, ['name'])

    },
    getPage(page) {
      const start = page * 10 - 10;
      axios.get(`/tasks/${start}/10`).then(({ data }) => {
        this.tasks = data.data;
      });
    },
    remove(task) {
      axios.delete(`/tasks/remove/${task.id}`).then(() => {
        this.getTasks()
      });
    },
    edit(task) {
      this.taskId = task.id;
      this.editable = true;
    },
    newTask() {
      this.showAddTask = true;
    },
    calcPage(total) {
      this.pages = Math.ceil(total / 10);
    },
    closeAddTask() {
      this.showAddTask = false;
      this.editable = false;
    },
    updateTask(item){
      this.tasks = this.tasks.map(task=>{
        if(task.id===item.id){
          task.name = item.name
        }
        return task
      })
    },
    addTask(task) {
      if (this.tasks.length >= 10) return;
      this.tasks.push(task);
    },
    getTasks(){
      axios.get("/tasks").then(({ data }) => {
        this.tasks = data.data
        this.originalTasks = data.data
        });
    }
  },
  mounted() {
    this.getTasks()
  },
  watch: {
    tasks(value) {
      if(value[0]) this.calcPage(value[0].total);
    }
  }
};
</script>

<style scoped>
.container {
  padding: 20px;
  padding-top: 5px;
}
</style>