<template>
  <div>
      <tasks/>    
  </div>
</template>

<script>
import Tasks from '@/components/Tasks'
export default {
  name: 'app',
  components: {Tasks}
}
</script>
<style lang="scss">
@import "~vue-material/dist/theme/engine"; // Import the theme engine

@include md-register-theme("default", (
  primary: md-get-palette-color(blue, A200) // The primary color of your application
));

@import "~vue-material/dist/theme/all"; // Apply the theme
</style>

